.wrapper body {
    padding: 80px 40px;
    font-family: Helvetica;
    background: #582633;
  }
  
  .wrapper {
    font-size: 16px;
    color: #666;
    padding: 25px;
    transform: translate(5rem,3rem);
  }
  
  .wrapper svg {
    overflow: visible;
  }
  
  .wrapper text {
    fill: gainsboro;
    color: gainsboro;
    font-size: 16px;
  }
  
  .subtitle text {
    text-decoration: underline;
    font-size: 12px;
  }
  
  .axis .domain,
  .axis.xAxis line {
    display: none;
  }

  .line-chart-text {
    font-family: Montserrat;
    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 3rem;
  }