@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.register-container {
    background: linear-gradient(128.95deg, #4D212C 51.1%, #A64961 94.27%);
    height: 100vh;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.register-middle {
    display: table-cell;
    vertical-align: middle;

}

.register-hovering-image-container {
    width: 100%;
    height: 100%;
    max-width: 50rem;
    max-height: 50rem;
    background: linear-gradient(135.27deg, #7D3C4D 0.97%, #6E2639 98.57%);
    border-radius: 25px;

    margin-top: auto;
    margin-bottom: auto;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.register-input {
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 80%;

    
    font-family: Montserrat;
    font-style: normal;
    font-size: 3rem;

    color: #FFFFFF;
    border-bottom: solid 0 #fff;  
    transition: all 250ms ease-in-out;
    /* transform-origin: 100% 50%; */
}

.register-input:focus {
    background:transparent;
    outline: none;
    border-bottom: solid 3px attr(content);
}

.register-input-row {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgba(81, 81, 81, 0.4);

    margin-left: 5rem;
    margin-right: 5rem;
    transition: all 250ms ease-in-out;
}

.invalid{
    animation: wiggle 0.75s linear;
    position: relative;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
   20%, 60% { transform: rotate(2.5deg); }
   40%, 80% { transform: rotate(-2.5deg); }
  }


.icon path {
    transition: all 250ms ease-in-out;
}

.register-form-button {
    background: rgba(81, 81, 81, 0.4);
    font-family: Montserrat;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
    
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 2rem;
    transition: all 250ms ease-in-out;
    min-width: 15rem;
    text-decoration: none;
    text-align: center;

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.register-form-button:hover {
    background: #4c212c;
}

.register-form-button-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.register-form-button-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 8rem;
}

.register-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    margin-top: auto;
    margin-bottom: auto;
}

.register-details-text {
    font-family: Montserrat;
    font-style: normal;
    font-size: 3rem;
    text-align: start;
    
    color: #FFFFFF;
    width: 30rem;
}

.register-details-logo {
    margin-top: 10rem;
    width: 30rem;
}

.register-details-divider {
    height: 5px;
    color: #fff;
    width: 100%;
    background: #fff;
    border: solid #fff 1px;
    opacity: 0.5;
    margin-top: 4rem;
    border-radius: 5px;
}

.register-input > option {
    font-family: Montserrat;
    font-style: normal;
    font-size: 3rem;

    background-color: lightgray;
    color: black;
    border-bottom: solid 0 #fff;  
    transition: all 250ms ease-in-out;

}


.register-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .register-details-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 15rem;
    }}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .register-details-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 15rem;
    }}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .register-details-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 15rem;
        display:none;
    }
    .register-details-divider {
        display: none;
    }
    .register-form-button-container-col {
        flex-direction: row;
        margin-bottom: initial;
        margin-left: initial;
        margin-right: initial;
    }
    .register-details {
        margin-bottom: initial;
        margin-left: initial;
        margin-right: initial;
    }
    .register-content {
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .register-details-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 15rem;
    }}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    .register-input-row {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        height: 5rem;
    }

    .register-form-button-container-col {
        margin-bottom: 0;
    }

    .register-details-logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        width: 10rem;
    }

    .register-details-divider {
        margin-top: 2rem;
    }

    .register-details {
        margin-top: auto;
        margin-bottom: auto;
    }

    .register-hovering-image-container{
        max-width: 40rem;
        max-height: 40rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    .register-input-row > div > .icon {
        width: 4rem;
        height: 4rem;

        margin-top: auto;
        margin-bottom: auto;
    }

    .register-input {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .register-container {
        background: linear-gradient(128.95deg, #4D212C 51.1%, #A64961 94.27%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        position: absolute;
    }
    
    .register-hovering-image-container {
        background: linear-gradient(135.27deg, #7D3C4D 0.97%, #6E2639 98.57%);
        border-radius: 25px;
    
        margin-top: auto;
        margin-bottom: auto;

        max-width: 50rem;
        max-height: 50rem;
    }
    
    .register-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    
    .register-input {
        border: none;
        background: transparent;
        box-sizing: border-box;
        width: 80%;
    
        
        font-family: Montserrat;
        font-style: normal;
        font-size: 3rem;
    
        color: #FFFFFF;
        border-bottom: solid 0 #fff;  
        transition: all 250ms ease-in-out;
        /* transform-origin: 100% 50%; */
    }
    
    .register-input:focus {
        background:transparent;
        outline: none;
        border-bottom: solid 3px attr(content);
    }
    
    .register-input-row {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        border: 5px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 15px;
        background: rgba(81, 81, 81, 0.4);
    
        margin-left: 5rem;
        margin-right: 5rem;
        transition: all 250ms ease-in-out;
    }
    
    .icon path {
        transition: all 250ms ease-in-out;
    }
    
    .register-form-button {
        background: rgba(81, 81, 81, 0.4);
        font-family: Montserrat;
        font-style: normal;
        font-size: 2rem;
        color: #ffffff;
        
        border: 5px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 2rem;
        transition: all 250ms ease-in-out;
        min-width: 15rem;
        text-decoration: none;
        text-align: center;
    
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        margin-right: 0;
    }
    
    .register-form-button:hover {
        background: #4c212c;
    }
    
    .register-form-button-container-col {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .register-form-button-container-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: 8rem;
    }
    
    .register-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10rem;
    }
    
    .register-details-text {
        font-family: Montserrat;
        font-style: normal;
        font-size: 3rem;
        text-align: start;
        
        color: #FFFFFF;
        width: 30rem;
    }
    
    .register-details-logo {
        margin-top: 5rem;
        width: 20rem;
        order: 0;
    }
    
    .register-details-divider {
        height: 5px;
        color: #fff;
        width: 100%;
        background: #fff;
        border: solid #fff 1px;
        opacity: 0.5;
        margin-top: 4rem;
        border-radius: 5px;
        display: initial;
    }
    
    .register-input > option {
        font-family: Montserrat;
        font-style: normal;
        font-size: 3rem;
    
        color: #FFFFFF;
        border-bottom: solid 0 #fff;  
        transition: all 250ms ease-in-out;
    
    }

    svg.icon {
        width:100px;
        height:100px;
    }
}